ul li.strike{
    text-decoration: line-through;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid black;
}

.container {
    width: 450px;
}

.container .list {
    padding-right: 70px;
}

.buttons {
    margin-bottom: 20px;
}